<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h2>Open Browser</h2><br>
    <ion-button expand="full" (click)="openCapacitorSite()">Open Browser</ion-button><br>

    <h2>App Launcher</h2><br>
    <ion-button expand="full" (click)="openPortfolioPage()">Open PortfolioPage</ion-button><br>
    <!--No hay ningun portafolio configurado en la app, pero la funcion funciona ;)-->

    <h2>Dialog</h2><br>
    <ion-button expand="full" (click)="showAlert()">Show alert!</ion-button><br>
    <ion-button expand="full" (click)="showConfirm()">Press Here</ion-button><br>

  </div>
</ion-content>