<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EA 22 Y 28 Plugins
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Melisa Arias Ortega 6C #5</p>
    <h2>Open Browser</h2><br>
    <ion-button expand="full" (click)="openCapacitorSite()">Open Browser</ion-button><br>

    <h2>App Launcher</h2><br>
    <ion-button expand="full" (click)="openPortfolioPage()">Open PortfolioPage</ion-button><br>
    <!--No hay ningun portafolio configurado en la app, pero la funcion funciona ;)-->

    <h2>Dialog</h2><br>
    <ion-button expand="full" (click)="showAlert()">Show alert!</ion-button><br>
    <ion-button expand="full" (click)="showConfirm()">Press Here</ion-button><br>

    <h2>Device</h2><br>
    <ion-button expand="full" (click)="logDeviceInfo()">Show Device info</ion-button><br>
    <ion-button expand="full" (click)="logBatteryInfo()">Show Battery info</ion-button><br>
    <!--No se ve nada a simple vista en estos, pero en la consola si.-->

    <p>Checar los comentarios en mi codigo para explicacion de algunas cosas de las plugins.</p>

  </div>
</ion-content>